dask[complete]==2.11.0
distributed==2.11.0
cloudpickle==1.3.0
bokeh
streamz
confluent-kafka
requests
prometheus_client
elasticsearch
sentry-sdk
influxdb
google-cloud-bigquery
pandas==0.25.3
psycopg2-binary
sklearn
scikit-learn==0.22.1
numpy
scipy
fuzzywuzzy[speedup]
gcsfs
pendulum
sqlalchemy
google-cloud-storage
dill
jupyter-server-proxy
supervisor
google-api-python-client